<div class="container">
  <div class="bar">
    {{input value=model.ipsum.title placeholder="Add ipsum title here..." class="bar-input add"}}
  </div>
</div>

<div class="container">
  <div class="content">
    {{textarea
      value=model.ipsum.text class="content-input"
      placeholder="Drop in ipsum text here..." spellcheck="false"
    }}
  </div>
  <div class="actions">
    <div class="button-wrapper">
      <button {{action "create"}} class="button {{if isValid 'active'}}">Publish</button>
      {{#each-in errors as |key val|}}
        <p class="error-text">{{key}} {{val}}</p>
      {{/each-in}}
    </div>
    <div class="options">
      <h3 class="card-title">Options</h3>
      <div class="option-row">

        <a {{action "toggleMarkov"}} href="#" class="option-action type">{{model.ipsum.g_markov}}</a>
        <p>Use Markov</p>
      </div>
    </div>
  </div>
</div>
