<div class="container">
  <div class="bar">
    {{input value=model.ipsum.title placeholder="Add ipsum title here..." class="bar-input add"}}
  </div>
</div>

<div class="container">
  <div class="content">
    {{textarea
      value=model.ipsum.text class="content-input"
      placeholder="Drop in ipsum text here..." spellcheck="false"
    }}
  </div>
  <div class="actions">
    <div class="button-wrapper">
      <button {{action "create"}} class="button">Publish</button>
      {{#if errors.title}}
        <p class="error-text">
          Title {{errors.title}}
        </p>
      {{/if}}

      {{#if errors.text}}
        <p class="error-text">
          Text {{errors.text}}
        </p>
      {{/if}}


    </div>
  </div>
</div>
