<main class="container">
  <div class="bar">
    <div class="bar-info">
      <h2>{{model.ipsum.title}}</h2>
    </div>
    <div class="bar-action">
      <div class="button">Copy to clipboard</div>
    </div>
  </div>

  <div class="content">
    {{{htmlify model.generated.text}}}
  </div>

  <div class="card no-highlight">
    <h3 class="card-title">Options</h3>
    <div class="card-content">
      <ul>
        <li {{action "regenerate"}}>Regenerate</li>
        <li {{action "HTMLify"}}>HTMLify</li>
        <li {{action "curl"}}>API</li>
      </ul>
    </div>
  </div>
</main>
