<div class="container">
  <div class="bar">
    <h1 class="title">
      {{model.ipsum.title}}
      <span class="by">
        by
        {{#link-to 'authors' model.ipsum.user.username}}{{model.ipsum.user.username}}{{/link-to}}
      </span>
    </h1>
  </div>
</div>

<div class="container">
  <div class="content">
    {{{htmlify textBuffer paragraphs paragraphHTML}}}
  </div>

  <div class="actions">

    {{#if currentUser}}
      <div class="button-wrapper">
      {{link-to 'Edit' 'ipsums.edit' model.ipsum.id class="button active"}}
      </div>
    {{/if}}

    <div class="options">
      <h3 class="card-title">Options</h3>
      <div class="option-row">
        <a {{action "regenerate"}} href="#" class="option-action regenerate"></a>
        <p>Regenerate</p>
      </div>
      <div class="option-row">
        <a {{action "editParagraphs" -1}} href="#" class="option-action decrement"></a>
        <a {{action "editParagraphs" 1}} href="#" class="option-action increment"></a>
        <p>{{paragraphs}} Paragraphs</p>
      </div>
      <div class="option-row">
        <a {{action "addHTML"}} href="#" class="option-action addHTML"></a>
        <p>HTML</p>
      </div>
      <div class="option-row">
        <a {{action "apiify"}} href="#" class="option-action apiify"></a>
        <p>API</p>
      </div>
    </div>
  </div>
</div>
