<div class="container">
  <div class="bar">
    <h2 class="title user">Profile</h2>
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="clearfix">
      {{input-block value=model.user.email type="email" placeholder="Email" errors=errors.email}}
      {{input-block value=model.user.username type="text" placeholder="Username" disabled="true"}}
    </div>
    <div class="row">
      <h2 class="title">Change Password</h2>
    </div>
    <div class="clearfix">
      {{input-block value=model.user.password type="password" placeholder="New Password" errors=errors.password}}
      {{input-block value=model.user.password_confirmation type="password" placeholder="Confirm New Password" errors=errors.password}}
      {{input-block value=model.user.current_password type="password" placeholder="Old Password" errors=errors.password}}
    </div>
  </div>
  <div class="actions">
    <div class="button-wrapper">
      <button {{action 'logout'}} class="button active">Log Out</button>
    </div>
    <div class="button-wrapper">
      <button {{action 'save'}} class="button {{if isValid 'active'}}">Update Profile</button>
      {{#each-in errors as |key val|}}
        <p class="error-text">{{val}}</p>
      {{/each-in}}
    </div>
    <div class="button-wrapper">
      <button {{action 'delete'}} class="button {{if confirmDelete 'error'}}">{{deleteText}}</button>
      {{#if confirmDelete}}
        <p class="error-text">Are you sure you want to do that?</p>
      {{/if}}
    </div>
  </div>
</div>


{{#if model.user.ipsums}}
  <div class="container">
    <div class="row">
      <h2 class="title">Your Ipsums</h2>
    </div>
    {{#each model.user.ipsums as |ipsum|}}
      {{#link-to 'ipsums.show' ipsum.id class="card"}}
        <h3 class="card-title">{{ipsum.title}}</h3>
        <p class="card-content">{{truncate ipsum.generated_sample size=25}}</p>
      {{/link-to}}
    {{/each}}
  </div>
{{/if}}
