<div class="container">
  <div class="bar">
    <h2 class="title">Profile</h2>
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="row">
      <div class="input-block">
        {{input value=session.email type="text" class="input-block-input" placeholder="Email"}}
        <p class="input-block-info">Email</p>
      </div>

      <div class="input-block">
        {{input value=model.user.username type="text" class="input-block-input" placeholder="Email"}}
        <p class="input-block-info">Username</p>
      </div>
    </div>

    <div class="row">
      <div class="input-block">
        {{input value=model.user.newPassword type="text" class="input-block-input" placeholder="New Password"}}
      </div>

      <div class="input-block">
        {{input value=model.user.confirmNewPassword type="text" class="input-block-input" placeholder="Confirm New Password"}}
      </div>

      <div class="input-block">
        {{input value=model.user.password type="text" class="input-block-input" placeholder="Old Password"}}
      </div>
    </div>

  </div>
  <div class="actions">
    <button {{action 'save'}} class="button active">Save</button>
    <button {{action 'logout'}} class="button">Log Out</button>
    <button {{action 'delete'}} class="button">Delete Account</button>
  </div>
</div>
