<nav class="nav">
  {{#link-to 'browse'}}
    <img class="nav-logo" src="assets/images/logo.svg">
  {{/link-to}}

  <ul>
    <li class="nav-item">{{link-to 'Browse' 'browse'}}</li>
    <li class="nav-item">{{link-to 'Create' 'ipsums.create'}}</li>

    {{#if session.token}}
    <li class="nav-item">{{link-to 'Account' 'account'}}</li>
    <li class="nav-item">{{link-to 'Logout' 'signout'}}</li>
    {{else}}
    <li class="nav-item">{{link-to 'Login' 'signin'}}</li>
    {{/if}}

  </ul>
</nav>

<main class="container">
  {{outlet}}
</main>
