{{!-- <nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">{{link-to 'Browse' 'browse'}}</li>
    <li class="nav-item">{{link-to 'Create' 'ipsums.create'}}</li>
    {{#if session.loggedIn}}
      <li class="nav-item">{{link-to 'Account' 'account'}}</li>
      <li class="nav-item">{{link-to 'Log Out' 'logout'}}</li>
    {{else}}
      <li class="nav-item">{{link-to 'Login' 'login'}}</li>
      <li class="nav-item">{{link-to 'Sign Up' 'signup'}}</li>
    {{/if}}
  </ul>
</nav> --}}

{{outlet}}
