<div class="container nav-container">
  <nav class="nav">
    {{#link-to 'browse'}}
      <img src="assets/images/logo.svg" alt="Open Ipsum" class="nav-logo">
    {{/link-to}}
    <ul class="nav-items">
      <li class="nav-item">{{link-to 'Browse' 'browse'}}</li>
      <li class="nav-item">{{link-to 'Create' 'ipsums.create'}}</li>
      {{#if session.loggedIn}}
        <li class="nav-item">{{link-to 'Profile' 'account'}}</li>
      {{else}}
        <li class="nav-item">{{link-to 'Sign Up' 'signup'}}</li>
        <li class="nav-item">{{link-to 'Log In' 'login'}}</li>
      {{/if}}
      <li class="nav-item about">{{link-to 'About' 'ipsums.show' 'about-open-ipsum-ipsum'}}</li>
    </ul>
  </nav>
</div>

{{outlet}}

<div class="container">
  <footer class="footer">
    <div class="footer-left">
      <p class="footer-text">
        Created by
        <a href="https://twitter.com/jhilmd" target="_blank">@jhilmd</a>
        and
        <a href="https://twitter.com/jaxgeller" target="_blank">@jaxgeller</a>
      </p>
    </div>
    <div class="footer-right">
      <p class="footer-text">
        <a href="https://github.com/jaxgeller/open-ipsum-ui">Contribute on Github</a>
      </p>
    </div>
  </footer>
</div>
