<nav class="nav">
  {{#link-to 'browse'}}
    <img src="assets/images/logo.svg" alt="Open Ipsum" class="nav-logo">
  {{/link-to}}
  <ul class="nav-items">
    <li class="nav-item">{{link-to 'Browse' 'browse'}}</li>
    <li class="nav-item">{{link-to 'Create' 'ipsums.create'}}</li>
    {{#if session.loggedIn}}
      <li class="nav-item">{{link-to 'Profile' 'account'}}</li>
    {{else}}
      <li class="nav-item">{{link-to 'Sign Up' 'signup'}}</li>
      <li class="nav-item">{{link-to 'Log In' 'login'}}</li>
    {{/if}}
  </ul>
</nav>

{{outlet}}
