<div class="container">
  <div class="bar {{if searchResults 'active'}}">
    {{input type="text" value=query placeholder="Search for ipsums by title or keyword..." class="bar-input search" key-up="search" maxlength=60}}
  </div>
</div>

{{#if searchResults}}
  <div class="container">
    <div class="search-results">
      {{#each searchResults.ipsums as |ipsum|}}
        {{#link-to 'ipsums.show' ipsum.id class="card"}}
          <h3 class="card-title">{{ipsum.title}}</h3>
          <p class="card-content">{{truncate ipsum.generated_sample size=25}}</p>
        {{/link-to}}
      {{/each}}
      {{#if noResults}}
        <h2 class="title no-results">No ipsums found for "{{query}}"</h2>
        <p class="no-results-text">How about making your own?
          {{link-to 'Create a new ipsum.' 'ipsums.create'}}
        </p>
      {{/if}}
    </div>
  </div>
{{/if}}

<div class="container {{if searchResults 'is-searching'}}">
  {{#each model.ipsums as |ipsum|}}
    {{#link-to 'ipsums.show' ipsum.id class="card"}}
      <h3 class="card-title">{{ipsum.title}}</h3>
      <p class="card-content">{{truncate ipsum.generated_sample size=25}}</p>
    {{/link-to}}
  {{/each}}
</div>
