<form {{action "search" on="submit"}}>
  {{input type="text" value=query placeholder="search"}}
</form>

{{#if searchResults}}
  {{#each searchResults.ipsums as |ipsum|}}
    <div class="card">
      <h3 class="card-title">{{ipsum.title}}</h3>
      <div class="card-content">
        <p>{{truncate ipsum.generated_sample size=25}}</p>
      </div>
    </div>
  {{/each}}
{{/if}}


{{#each model.ipsums as |ipsum|}}
  <div class="card">
    <h3 class="card-title">{{ipsum.title}}</h3>
    <div class="card-content">
      <p>{{truncate ipsum.generated_sample size=25}}</p>
    </div>
  </div>
{{/each}}
