<div class="topbar">
  <div class="topbar-content">
    {{input key-up="search" placeholder="Search for ipsums..." type="text" class="topbar-title search" value=query}}
  </div>
</div>


{{#if searchQuery}}
  <div class="search-results">
    {{#if searchResults}}
      {{#each searchResults.ipsums as |ipsum|}}
        {{#link-to 'ipsums.show' ipsum.id class="box"}}
          <h3 class="box-title">
            {{ipsum.title}}
            <img class="star" src="/assets/images/icon-star.svg">
          </h3>
          <p class="box-content">{{sample-text ipsum.generated_sample}}</p>
        {{/link-to}}
      {{/each}}
    {{else}}
      <h3 class="search-title">No ipsums found for "{{query}}"...</h3>
      <p class="search-text">How about making your own? Create a new ipsum.</p>
    {{/if}}
    </div>
{{/if}}

<div class="col-details">
  <h3 class="col-title">Featured</h3>
  <p class="col-details-action">More...</p>
</div>

<div class="content">
  {{#each model.ipsums as |ipsum|}}
    {{#link-to 'ipsums.show' ipsum.id class="box"}}
      <h3 class="box-title">
        {{ipsum.title}}
        <img class="star" src="/assets/images/icon-star.svg">
      </h3>
      <p class="box-content">{{sample-text ipsum.generated_sample}}</p>
    {{/link-to}}
  {{/each}}
</div>
