<div class="container">
  <div class="bar">
    <h2 class="title">Log In</h2>
  </div>
</div>

<div class="container">
  <form {{action "login" on="submit"}}>
    <div class="content">
      <div class="row">
        {{input-block value=model.user.email type="email" placeholder="Email" errors=errors.email}}
        {{input-block value=model.user.password type="password" placeholder="Password" errors=errors.password}}
      </div>
    </div>
    <div class="actions">
      <div class="button-wrapper">
        <button type="submit" class="button {{if isValid 'active'}}">Log In</button>
        <p class="error-text">
          {{errors}}
        </p>
      </div>
    </div>
  </form>
</div>
