<form {{action "signup" on="submit"}}>
  {{input value=username type="text"}}
  {{input value=email type="email"}}
  {{input value=password type="password"}}
  {{input value=passwordConfirmation type="password"}}
  <button type="submit">Login</button>
</form>
