<main class="container">
  <form {{action "signup" on="submit"}}>
    {{input value=model.user.email type="email" placeholder="email"}}
    {{input value=model.user.username type="text" placeholder="username"}}
    {{input value=model.user.password type="password" placeholder="password"}}
    {{input value=model.user.passwordConfirmation type="password" placeholder="confirm password"}}
    <button type="submit">Login</button>
  </form>
</main>
