<div class="container">
  <div class="bar">
    <h2 class="title">New Profile</h2>
  </div>
</div>

<div class="container">
  <form {{action "signup" on="submit"}}>
    <div class="content">
      <div class="row">
        <div class="input-block">
          {{input value=model.user.email type="email" placeholder="Email" class="input-block-input"}}
        </div>

        <div class="input-block">
          {{input value=model.user.username type="text" placeholder="Username" class="input-block-input"}}
        </div>

        <div class="input-block">
          {{input value=model.user.password type="password" placeholder="Password" class="input-block-input"}}
        </div>
        <div class="input-block">
          {{input value=model.user.passwordConfirmation type="password" placeholder="Confirm Password" class="input-block-input"}}
        </div>
      </div>
      <p>Sign up with an account to create ipsum generators and collect favorites.</p>
    </div>
    <div class="actions">
      <button class="button active" type="submit">Create Account</button>
    </div>
  </form>

</div>
